-- Add horas_extras column to turnos_conductores
ALTER TABLE public.turnos_conductores ADD COLUMN IF NOT EXISTS horas_extras numeric(4,2) DEFAULT 0;

COMMENT ON COLUMN public.turnos_conductores.horas_extras IS 'Registro explicito de horas extras aprobadas o realizadas en este turno.';
